@import url(https://fonts.googleapis.com/css?family=Roboto:regular);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.wrapper {
  background-color: #c0dbd9;
}

.page__container {
  position: relative;
}
.page__first {
  width: 100%;
  height: 100px;
  background-color: #7faff7;
}
.page__second {
  display: grid;
  grid-template-columns: minmax(auto, 390px) minmax(auto, 590px) minmax(auto, 160px);
  grid-template-rows: repeat(2, 198px);
  row-gap: 15px;
  column-gap: 15px;
  margin-top: 15px;
  background: #b3f95a;
  width: 100%;
}
.page__third {
  margin-top: 15px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  background: #88b5bf;
}
.page__fourth {
  margin-top: 100px;
  background: #7faff7;
  width: 100%;
  height: 100px;
}

.first__button {
  margin: 30.5px 0px 30.5px 30px;
  width: 206px;
  height: 39px;
  font-size: 1.25rem;
  line-height: 1.15;
  background: #a5c7f9;
  border-radius: 5px;
  color: #fff;
}

.second__one {
  position: relative;
  background: #8ad191;
}
.second__one::after {
  content: "1";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.3125rem;
  line-height: 1.1698113208;
  color: #fff;
}
.second__two {
  position: relative;
  background: #8ad191;
}
.second__two::after {
  content: "2";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.3125rem;
  line-height: 1.1698113208;
  color: #fff;
}
.second__three {
  position: relative;
  background: #8ad191;
}
.second__three::after {
  content: "3";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.3125rem;
  line-height: 1.1698113208;
  color: #fff;
}
.second__four {
  position: relative;
  background: #8ad191;
  grid-column: 1/3;
}
.second__four::after {
  content: "4";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.3125rem;
  line-height: 1.1698113208;
  color: #fff;
}
.second__five {
  position: relative;
  background: #8ad191;
}
.second__five::after {
  content: "5";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.3125rem;
  line-height: 1.1698113208;
  color: #fff;
}

.third .ratio {
  flex: 0 1 255px;
  padding-bottom: 17.92%;
  background: #0d89b0;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup__body {
  position: relative;
  width: 400px;
  height: 400px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup__content {
  padding-top: 15px;
}
.popup__title {
  font-size: 3.3125rem;
  line-height: 1.1698113208;
}
.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 39px;
  background: #7faff6;
  border-radius: 5px;
  font-size: 1.25rem;
  line-height: 1.15;
  color: #fff;
}
